[FORMAT]
indent-after-paren=2
indent-string="  "

[MASTER]
init-hook="import sys; sys.path.append('.')"
load-plugins=lib.order_checker

[MESSAGES CONTROL]
disable=bad-continuation, invalid-name, line-too-long, locally-disabled, missing-docstring, no-self-use, redefined-builtin, too-many-lines, ungrouped-imports, unnecessary-lambda, used-before-assignment

[REPORTS]
reports=no
